/* styles for repository homepage for TP2 */
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');


* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

body {
    margin: 0px;
    background-image: url("images/bgimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Annie Use Your Telescope", cursive;
    font-weight: 600;
    font-size: large;
}

h1,h2 {
    text-transform: uppercase;
    color:rgb(22, 43, 83);
    font-family: "Bagel Fat One", cursive;
}

h1 {
    font-size: 3rem;
    line-height: 0.9em;
}

p, ol {
    color:rgb(22, 43, 83);
}

section{
    min-height: 15vh;
    width: 25vw;
    background-color: rgb(255, 255, 255);
    margin: 1rem;
    padding: 1rem;
    border-radius: 3rem;
    border-color:rgb(22, 43, 83);
    border-style: dashed;
}

header {
    min-height: 15vh;
    width: auto;   
    background-color: rgb(255, 255, 255);
    border-bottom-style: dashed;
    border-color:rgb(22, 43, 83);
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 3.5rem;
	text-align: center;
	margin: auto;
    color: rgb(22, 43, 83);
}

.courseworkLinks {
    background-color:rgb(22, 43, 83);
    color:rgb(255, 255, 255);
    border: none;
    text-align: center;
    padding: 8px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}

.courseworkLinks:hover {
    background-color: rgb(78, 100, 141);
}

#slangThatNeedsToGo,
#interestingArticle {
    max-height: 320px;
    overflow-y: auto;
}

#coolPic {
    height: 100vh;
    width: 50vh;
}

#coolPic img {
    width: 100%;
    height: auto;
    border-radius: 2rem;
}
