/* styles for repository homepage for TP2 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(110, 147, 110);
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

h1,h2 {
    text-transform: uppercase;
}

h1 {
    font-size: 3rem;
    line-height: 0.9em;
}

header, section{
    height: 90vh;
    width: 50vh;
    background-color: white;
    float: left;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0px 5px 10px #333;
}

header {
    display: flex;
    align-items: center;
}

header h1 {
    flex-grow: 1;
    text-align: center;
}

section {
    background-color: rgb(223, 255, 215)
}

#coolPic img {
    width: 100%;
    height: auto;
}
