/* styles for the major project app called meal mind*/

*box-sizing {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    color: #111827;
    line-height: 1.5;
}

main {
    max-width: 1rem;
    margin: 0 auto;
    padding 40px 20px;
}